# Python 기초: 타입과 변수

## 개요

Python 기초 학습을 위한 실습 노트북입니다.

In [ ]:
# 정수 예제
age = 25
temperature = -10
count = 0

print(type(age))  # <class 'int'>
print(age)        # 25

In [ ]:
# 실수 예제
pi = 3.14159
price = 19.99
temperature = -5.5

print(type(pi))  # <class 'float'>
print(pi)        # 3.14159

In [ ]:
# 문자열 예제
name = "홍길동"
greeting = '안녕하세요'
message = "Python은 '간단한' 언어입니다"

print(type(name))  # <class 'str'>
print(name)        # 홍길동

# 여러 줄 문자열
multiline = """
첫 번째 줄
두 번째 줄
세 번째 줄
"""

In [ ]:
# 불리언 예제
is_active = True
is_completed = False

print(type(is_active))  # <class 'bool'>
print(is_active)        # True

In [ ]:
# None 예제
result = None
data = None

print(type(result))  # <class 'NoneType'>
print(result)        # None

In [ ]:
# 변수 선언과 할당
x = 10
y = 20.5
name = "Python"
is_valid = True

# 여러 변수에 동시에 할당
a, b, c = 1, 2, 3
print(a, b, c)  # 1 2 3

# 같은 값으로 여러 변수 초기화
x = y = z = 0
print(x, y, z)  # 0 0 0

In [ ]:
age = 25
name = "홍길동"
price = 19.99

print(type(age))   # <class 'int'>
print(type(name))  # <class 'str'>
print(type(price)) # <class 'float'>

In [ ]:
age = 25
name = "홍길동"

print(isinstance(age, int))   # True
print(isinstance(age, str))   # False
print(isinstance(name, str))  # True

In [ ]:
# 문자열을 정수로 변환
age_str = "25"
age_int = int(age_str)
print(age_int, type(age_int))  # 25 <class 'int'>

# 정수를 문자열로 변환
age = 25
age_str = str(age)
print(age_str, type(age_str))  # 25 <class 'str'>

# 문자열을 실수로 변환
price_str = "19.99"
price_float = float(price_str)
print(price_float, type(price_float))  # 19.99 <class 'float'>

# 실수를 정수로 변환 (소수점 이하 버림)
pi = 3.14159
pi_int = int(pi)
print(pi_int)  # 3

In [ ]:
# 올바른 변수명
user_name = "홍길동"
age2 = 25
_total = 100

# 잘못된 변수명 (주석 처리)
# 2age = 25        # 숫자로 시작 불가
# user-name = "홍길동"  # 하이픈 사용 불가
# class = "A"      # 예약어 사용 불가

In [ ]:
# 변수에 다른 타입 할당 가능
value = 10
print(value, type(value))  # 10 <class 'int'>

value = "문자열"
print(value, type(value))  # 문자열 <class 'str'>

value = 3.14
print(value, type(value))  # 3.14 <class 'float'>

In [ ]:
# 사용자 정보 저장
user_name = "홍길동"
user_age = 25
user_height = 175.5
is_student = True
email = None

# 타입 확인
print(f"이름: {user_name} (타입: {type(user_name).__name__})")
print(f"나이: {user_age} (타입: {type(user_age).__name__})")
print(f"키: {user_height} (타입: {type(user_height).__name__})")
print(f"학생 여부: {is_student} (타입: {type(is_student).__name__})")
print(f"이메일: {email} (타입: {type(email).__name__})")

# 타입 변환 예제
age_input = "30"
age = int(age_input)
print(f"입력된 나이: {age_input}, 변환된 나이: {age}")